<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#02afcf">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7TNXC489ME"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7TNXC489ME');
</script>
    <title>concise result!</title>
  </head>
  <body background="https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg">
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link active" href="/"><img src="https://useiconic.com/open-iconic/svg/home.svg" width="30" height="30" class="d-inline-block" alt=""> Home</a>
      </li>
    </ul>
    <div class="container">        
        <h3 ><strong>Hello</strong></h3>
        {{f|safe}}
        <p> 
          This is a Django based project where anyone from the batch 2018-22 can have a quick reference of their performance
           in different semesters by a table indicating minimal necessary things and a graph.
        </p>

        <div role="alert" class="alert alert-success mt-2">
        <strong> * Please choose your branch and fill accordingly the next field.</strong>
        

    <form class="row g-3" method="GET" action="/about" name="in" onsubmit="return validateForm()">
        
        
        <div class="col-md-4">
          <label for="branch" class="form-label">Branch</label>
          <select id="branch" name = "branch" class="form-select" onchange="nid()">
            <option selected>Choose...</option>
            <option>C S</option>
            <option>EC</option>
            <option>EE</option>
            <option>CE</option>
            <option>ME</option>
            <option>BT</option>
          </select>
          <div id="err" role="alert">
          </div>
        </div>
        
        <div class="col-md-6" id="nid">
          
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
                
      </div>

      <footer class=" bg-light text-center text-lg-start" style="position: fixed; bottom: 0; width: 100%; ">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          Tried making with care (❁´◡`❁), by :
          <a class="text-dark" href="https://github.com/jatinsajwan3841">Jatin</a>
        </div>
      </footer>

      <script>
        function validateForm() {
          var x = document.getElementById("branch").value;
          if (x == "Choose..."){
            var y = document.getElementById('err')
            y.className += "alert alert-danger mt-2";
            y.innerHTML="Please choose correct branch!";
            return false;
          }          
        }
        function nid(){
          if ( document.getElementById("branch").value == "CE"){
            document.getElementById("nid").innerHTML='<label for="name" class="form-label">College ID</label><input type="number" class="form-control" name="name" id="name" minlength="180000" maxlength="999999" placeholder="college id" required>';
          }else{
            document.getElementById("nid").innerHTML='<label for="name" class="form-label">Name</label><input type="text" class="form-control" name="name" id="name" minlength="3" maxlength="40" placeholder="full name please" required>';
          }
        }
        </script>
  </body>
</html>
